img{
    max-width: 100%; 
} 
.quitar-float{
    float: none;
} 
.espacio-arriba{ 
    margin-top: 30px;
}
.Pacifico{
    font-family: 'Pacifico', cursive;
}
.grande{
	font-size: 4em;
}
.Lato{
	font-family: 'Lato', sans-serif;
}
.pequeña{
	font-size: 2em;
}
.rosa{
	color: #FC3249;
}
.azul{
	color: #243D7E;
}
.espacio-derecha{
	margin-right: 1em;
}
.no-lista{ 
	margin: 0px;
	padding: 0px;
}
.no-lista li{
    list-style-type: none;
}
a{
	color: #087542;
}
.se-gris{
	background-color: #eee;
}
.padding-largo{ 
    padding: 5px 10px;
}
.quitar-float{
	float: none;
}
.display{
	display: inline-block;
	margin-right: -4px;
}
.Bree-Serif{
	font-family: 'Bree Serif', serif;
}
.inline-block{
    display: inline-block;
}
.vete-arriba{
	vertical-align: top;
}
.negro{
	color: #000000;
}

.retraso-1{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.retraso-1{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}